:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/*NAV BAR*/
.nav {
    border-bottom: 1px solid var(--hospital-green);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.left-nav {
    display: flex;
}

.nav .icon-menu {
    width: 24px;
    margin: 12px;
    display: none;
    padding: 6px;
    border-radius: 8px;
}

.nav .icon-menu:active {
    background-color: var(--very-light-pink);
}

.nav .shopping-cart {
    width: 24px;
}

.left-nav .logo {
    width: 160px;
    margin-left: 22px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav ul li {
    margin-left: 18px;
}

.right-nav a {
    margin-right: 18px;
}

.option {
    font-size: var(--md);
    font-weight: lighter;
    color: var(--very-light-pink);
    background-color: var(--white);
    padding: 3px;
    text-decoration: none;
    border: none;
    height: fit-content;
    cursor: pointer;
}

.left-nav a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    border-radius: 8px;
    cursor: pointer;
}

.left-nav a:active {
    color: var(--white);
    background-color: var(--hospital-green);
    border-radius: 8px;
}

.nav .right-nav .shopping-cart:hover {
    border: none;
}

.nav-title {
    display: none;
}

.right-nav .option:hover {
    font-weight: normal;
}


/*DESKTOP MENU*/

.main-container-desktop-menu {
    position: absolute;
    top: 46px;
    right: 50px;
    background: var(--white);
    width: 124px;
    height: 140px;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
    margin: 8px;
    text-align: end;
}

.inactive {
    display: none;
}

.main-container-desktop-menu .options {
    display: flex;
    flex-direction: column;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
}

.options li a {
    text-decoration: none;
    color: var(--black);
    font-weight: light;
    font-size: var(--sm);
}

.options li a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.options li {
    margin: 4px;
    margin-right: 15px;
    align-self: flex-end;
}

.options:nth-child(1) {
    margin-top: 12px;
}

.sign-out {
    margin-top: 12px;
    border-top: 1px solid var(--hospital-green);
    width: 90px;
    padding-top: 18px;
}

.options:last-child div a:hover {
    font-weight: bolder;
}

.options:last-child div a {
    color: var(--hospital-green) !important;
    font-weight: lighter;
}

/*MOBILE MENU*/

.container-mobile-menu {
    position: absolute;
    top: 61px;
    padding: 12px;
    width: 100%;
    background-color: var(--white);
    border-bottom: 2px solid var(--hospital-green);
}

.container-mobile-menu .lista-mobile {
    padding: 0;
    margin-left: 22px;
    display: flex;
    flex-direction: column;
}

.lista-mobile {
    list-style: none;
    margin-bottom: 36px;
}

.lista-mobile a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--md);
    cursor: pointer;
}

.lista-mobile li {
    margin-bottom: 2px;
    align-self: flex-start;
}


.lista-mobile a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.lista-mobile .sign-out-mobile {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.lista-mobile .email-mobile-menu {
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.container-mobile-menu ul:last-child {
    bottom: 0;
}

.container-mobile-menu ul:nth-child(2) {
    border-top: 1px solid var(--very-light-pink);
    padding-top: 16px;
}

.lista-mobile li h3 {
    margin-bottom: 32px;
}

.last-list {
    margin-top: 22px;
}


/*SHOPPING CART (ASIDE)*/

.aside {
    width: 320px;
    right: 0;
    padding-top: 0px;
    position: absolute;
    background-color: var(--white);
    box-shadow: -6px 5px 15px var(--very-light-pink);
}

#shopping-cart {
    width: 380px;
}

.my-orders {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.resumen-compra {
    background-color: var(--text-input-field);
    margin: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    
}

.articulo {
    border-radius: 12px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.articulo:hover {
    box-shadow: 6px 5px 5px var(--very-light-pink);
}

.articulo:active {
    background-color: var(--hospital-green);
}

.articulo:active .nombre-producto {
    color: var(--white);
}

.articulo:active .precio p {
    color: var(--white);
}


.articulo .precio img {
    width: 14px;
    height: 14px;
    align-self: center;
    margin-left: 18px;
    padding: 3px;    
    border-radius: 3px;
    cursor: pointer;
}

.articulo .precio img:hover {
    border: 1px solid var(--very-light-pink);
}

.articulo .precio img:active {
    border: 1px solid var(--white);
    background-color: var(--white);
}

.articulo img:nth-child(1) {
    width: 100px;
    padding: 12px;
    border-radius: 44px;
}

.articulo .info-producto {
    display: flex;
}

.articulo .precio {
    display: flex;
    align-self: center;
    font-size: normal;
    color: var(--black);
    margin-right: 16px;
    margin-bottom: 6px;
}

.info-producto .nombre-producto {
    align-self: center;
    color: var(--very-light-pink);
    font-weight: normal;
    font-size: var(--sm);
    margin-left: 8px;
}

.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 44px;
    justify-items: center;
    margin: 12px;
    align-self: center;
    background-color: var(--text-input-field);
    border-radius: 12px;
    padding: 8px;
    margin: 18px;
    margin-bottom: 12px;
}

.total-price p {
    font-weight: bolder;
    font-size: var(--lg);
    align-self: center;
    color: var(--black);
}

.total-price p:nth-child(1) {
    margin-left: 20px;
    font-size: 24px;
}

.total-price p:nth-child(2) {
    margin-right: 20px;
}

.checkout {
    height: 48px;
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: var(--lg);
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    width: 50%;
    align-self: center;
    bottom: 0;
    margin: 24px;
}

.checkout:hover {
    background-color: var(--white);
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}

.title-shopping-cart {
    display: flex;
    padding-top: 4px;
    margin-left: 10px;
}

.title-shopping-cart h2 {
    color: var(--black);
    font-weight: bold;
    margin: 12px;
}

.title-shopping-cart img {
    transform: rotate(180deg);
    margin: 4px;
    cursor: pointer;
}


/* MAIN PAGE */

.main-page {
    display: flex;
    justify-content: center;
}

.product-card {
    width: 160px;
    margin: 12px;
    border: 4px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 10px 5px 5px var(--text-input-field);
}

.product-card:hover {
    box-shadow: 10px 5px 20px var(--very-light-pink);
}

.product-card:hover .product-name {
    font-weight: bolder;
}

.product-card:hover .product-info .price {
    font-weight: bolder;
}

.product-description {
    display: flex;
    align-items: center;
    width: inherit;
}

.product-image{
    width: inherit;
    border-radius: 24px;
    cursor: pointer;
}

.add-to-cart {
    background-color: var(--white);
    border: none;
    border-radius: 20px;
    width: 48px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 12px;
    overflow: hidden;
}

.add-to-cart img {
    width: 100%;
}

.product-card .product-info {
    width: 130px;
}

.price {
    color: var(--black);
    font-size: var(--lg);
    font-weight: normal;
    margin-bottom: 0px;
}

.product-name {
    color: var(--very-light-pink);
    font-size: var(--sm);
    font-weight: normal;
    margin-top: 0px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin-top: 12px;
}



/*PRODUCT INFORMATION (ASIDE)*/

.aside .close {
    border: none;
    background-color: var(--white);
    border-radius: 12px;
    position: absolute;
    margin: 4px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.close img {
    width: 70%;
    margin-top: 4px;
}

.close:hover {
    border: 1px solid var(--very-light-pink);
}

.aside .product-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
}

.aside .product-info {
    margin-left: 12px;
}

.aside .product-info .price {
    font-weight: bold;
    font-size: var(--lg);
    color: var(--black);
    margin-bottom: 0;

}

.aside .product-info .product-name {
    font-weight: normal;
    font-size: var(--md);
    color: var(--very-light-pink);
    margin-top: 2px;
}

.product-info .product-description {
    font-weight: lighter;
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.aside .primary-button {
    display: flex;
    justify-content: center;
}

.aside .primary-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 18px;
    color: var(--white);
    background-color: var(--hospital-green);
    margin-bottom: 10px;
    width: 80%;
}

.aside .primary-button p {
    font-size: large;
    font-weight: bold;
}

.aside .primary-button button:hover {
    border: 1px solid var(--hospital-green);
    background-color: var(--white);
    color: var(--hospital-green);
}

.aside .primary-button button:hover img {
    display: none;
}    


@media (max-width: 850px) {

    .title, .right-nav .option {
        display: none;
    }

    .nav .icon-menu {
        display: inline;
    }

    .left-nav ul {
        display: none;
    }

    .left-nav ul li {
        margin: 0px;
    }

    .right-nav ul {
        padding: 0;
        margin: 0;
    }

    .aside {
        align-self: center;
        width: 100%;
        border: none;
    }

    .my-orders {
        width: 90%;
        padding: 10px;
    }

    .checkout {
        width: 70%;
    }

    .title-shopping-cart {
        display: none;
    }

    .articulo .nombre-producto {
        font-size: var(--md);
    }

    .product-card {
        width: 130px;
    }

    .product-info p {
        font-size: var(--sm);
    }

    .add-to-cart {
        width: 50px;
    }

    .products {
        width: 90%;
    }
}
